mixin copyright
	.copyright &#169; Темир Нурбаев | Создано с любовью в LoftSchool | 2016

mixin footer
	footer.footer
		.footer__top
			ul.footer__menu
				li.footer__item
				li.footer__item
				li.footer__item
				li.footer__item
			.social-buttons_circles
				a.social-buttons__vk
				a.social-buttons__gh
				a.social-buttons__li
		.footer__bottom
			p.text
			+copyright

mixin social
	ul.social
		li.social__item
			a(href="https://vk.com/temir.nurbaev" target="_blank").social__link <i class="fa fa-vk" aria-hidden="true"></i>
		li.social__item
			a(href="https://github.com/TemirNurbaev" target="_blank").social__link <i class="fa fa-github-alt" aria-hidden="true"></i>
		li.social__item
			a(href="https://ru.linkedin.com/in/nurbaev" target="_blank").social__link <i class="fa fa-linkedin" aria-hidden="true"></i>

mixin section-headline2(content)
	.section-headline2
		.section-headline__inner2 #{content}

mixin section-headline1(content)
	.section-headline1
		.section-headline__inner1 #{content}


mixin skillCircle(className, value, title)
	- var radius = 55;
	- var stroke = 20;
	- var diameter = radius * 2;
	- var smallRadius = radius - stroke/2;
	- var circumference = 2 * Math.PI * smallRadius;
	- var arc = (value * circumference / 100);
	li(class=`${className}__item`)
		svg(class=`${className}__circle` width=`${diameter}` height=`$diameter}`)

			circle(class="outer" cx=`${radius}` cy=`${radius}` r=`${smallRadius}` stroke-width=`${stroke}` fill="lightgrey")

			circle(class="inner" cx=`${radius}` cy=`${radius}` r=`${smallRadius}` stroke="black" stroke-width=`${stroke}` fill="lightgrey" data-arc=`${arc}` data-circumference=`${circumference}` stroke-dasharray="0 1000")
		div(class=`${className}__label-holder`)
			div(class=`${className}__label`)= title